.FilePreview {
  margin-bottom: 1rem;

  img {
    max-width: 150px;
    max-height: 200px;
  }

  figcaption {
    width: 150px;
    height: 160px;
    display: block;
    background: rgb(56, 56, 56);
  }
}
