@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

button,
a {
  @apply focus:outline-none focus:ring-4 ring-blue-200 ring-opacity-50;
}

body {
  font-family: Roboto, sans-serif;
  @apply text-base;
}

video:focus,
audio:focus {
  outline: none;
}

a,
img {
  -webkit-user-drag: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/************************************************************/
/************************************************************/
/* html {
  overflow-y: overlay;
} */

::-webkit-scrollbar {
  @apply w-3.5;
}

/* im not sure this block is actually neccessary */
::-webkit-scrollbar-track {
  @apply border-4 border-solid border-transparent;
  box-shadow: inset 0 0 14px 14px transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full border-4 border-solid border-transparent;
  box-shadow: inset 0 0 14px 14px #757575bf;
}

::-webkit-scrollbar-button {
  display: none;
}
/************************************************************/
/************************************************************/

button {
  @apply rounded bg-gray-300;
}
