/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  font-family: sans-serif;
  color: white;
  background: #1e1e1e;
}

a {
  color: rgb(196, 196, 196);
}
