@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-running {
    animation-play-state: running;
  }

  .animation-paused {
    animation-play-state: paused;
  }
}

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

button,
a {
  @apply focus:outline-none focus:ring-4 ring-blue-200 ring-opacity-50;
}

body {
  font-family: Roboto, sans-serif;
  @apply text-base text-gray-700;
}

video:focus,
audio:focus {
  outline: none;
}

a,
img {
  -webkit-user-drag: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/************************************************************/
/************************************************************/
/* html {
  overflow-y: overlay;
} */

::-webkit-scrollbar {
  @apply w-3.5;
}

/* im not sure this block is actually neccessary */
::-webkit-scrollbar-track {
  @apply border-4 border-solid border-transparent;
  box-shadow: inset 0 0 14px 14px transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full border-4 border-solid border-transparent;
  box-shadow: inset 0 0 14px 14px #757575bf;
}

::-webkit-scrollbar-button {
  display: none;
}
/************************************************************/
/************************************************************/
.react-select-container {
  @apply text-sm;
}
.react-select__control {
  @apply h-8;
  min-height: 2rem !important;
  @apply rounded-full border-2 border-gray-400 !important;
}
.react-select__control--is-focused {
  @apply border-blue-600 ring-1 ring-blue-600 !important;
}
.react-select__value-container > div:not(.react-select__single-value) {
  @apply m-0 p-0;
}
.react-select__menu {
  @apply relative;
}
.react-select__input > input {
  @apply border-0 focus:ring-0;
}
.react-select__indicator-separator {
  @apply hidden;
}
.react-select__indicator {
  @apply p-0 px-1 !important;
}

/************************************************************/
/************************************************************/
.animate-bg-gradient-shift,
.animate-bg-gradient-shift-fast {
  background-size: 400% 400%;
}

.bg-gradient-conic-loading {
  width: 100vw;
  height: 100vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%) rotate(90deg);
}

.spinner {
  @apply inline-block;
  width: 20px;
  height: 20px;
}
/* https://stephanwagner.me/only-css-loading-spinner */
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  @apply border-4 border-solid border-gray-300;
  border-top-color: #fff;
  @apply animate-spin;
}
